<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Dana Maczyńska</title>
    <script src="{% static '/js/script.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins|Comfortaa|Open+Sans" rel="stylesheet">
</head>
<body>
<!-- header with logo, name and navbar -->
    <div class="main-header">
      <div class="header-logo">
        <a href="{% url 'main' %}"><img class="logo" src="{% static '/Dana logo.png' %}" alt="Dana Maczyńska Logo"/></a>
        <p class="logo-name">dana maczyńska</p>
        <p class="logo-name-title">illustrator & graphic designer</p>
      </div>
      <div class="nav-menu">
        <ul>
          <li><a href="#">graphic designs</a></li>
          <li><a href="#">illustrations</a></li>
          <li><a href="#">about</a></li>
          <li><a href="#">contact</a></li>
        </ul>
      </div>
    </div>

<!-- container with sliding banners -->
    <div class="slide-container">
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
      <div class="dot-container">
      </div>
    </div>

<!-- container with projects on the main page -->
    <div class="projects-container">
      <div class="projects-container-header">
        <p>Projects</p>
      </div>
      <div class="projects-container-projects">
        <div id="c1">
        </div>
        <div id="c2">
        </div>
        <div id="c3">
        </div>
      </div>
    </div>

<!-- footer -->
    <div class="main-footer">
      <div class="footer-menu">
        <ul>
          <li class="footer-policy"><a href="#">Privacy policy</a></li>
          <li class="footer-credits">credits: <a href="https://www.linkedin.com/in/piotr-bulik/" target="_blank">Username IT</a></li>
        </ul>
      </div>
    </div>
<script>
initProjects("{{ projects }}", "{{ banners }}");

var slideIndex = 0;
var myVar;

showSlides(slideIndex);

function plusSlides(n) {
  slideIndex += n-1;
  showSlides(slideIndex);
}

function currentSlide(n) {
  slideIndex = n-1;
  showSlides(slideIndex);
}



</script>
</body>
</html>
