<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Dana Maczyńska</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins|Comfortaa|Open+Sans" rel="stylesheet">
</head>
<body>
<!-- header with logo, name and navbar -->
    <div class="main-header">
      <div class="header-logo">
        <a href="{% url 'main' %}"><img class="logo" src="{% static '/Dana logo.png' %}" alt="Dana Maczyńska Logo"/></a>
        <p class="logo-name">dana maczyńska</p>
        <p class="logo-name-title">illustrator & graphic designer</p>
      </div>
      <div class="nav-menu">
        <ul>
          <li><a href="#">graphic designs</a></li>
          <li><a href="#">illustrations</a></li>
          <li><a href="#">about</a></li>
          <li><a href="#">contact</a></li>
        </ul>
      </div>
    </div>

<!-- container with sliding banners -->
    <div class="slide-container">
      <div class="next-prev">
        <a class="prev" href="#"><img src="{% static '/prev.png' %}" alt="Previouse slide"></a>
        <a class="next" href="#"><img src="{% static '/next.png' %}" alt="Next slide"></a>
      </div>
    </div>

<!-- container with projects on the main page -->
    <div class="projects-container">
      <div class="projects-container-header">
        <p>Projects</p>
      </div>
      <div class="projects-container-projects">
        <div id="c1">
        </div>
        <div id="c2">
        </div>
        <div id="c3">
        </div>
      </div>
    </div>

<!-- footer -->
    <div class="main-footer">
      <div class="footer-menu">
        <ul>
          <li class="footer-policy"><a href="#">Privacy policy</a></li>
          <li class="footer-credits">credits: <a href="#">bulikkk</a></li>
        </ul>
      </div>
    </div>

    <script>
        function initProjects() {

            var projects = (("{{ projects }}").replace(/&(l|g|quo)t;/g, function (a, b) {
                return {
                    l: '<',
                    g: '>',
                    quo: '"'
                }[b];
            }));

            projects = projects.replace(/u'/g, '\'')
            projects = projects.replace(/'/g, '\"')

            var obj = JSON.parse(projects);

            var today = new Date().getTime();

            console.log(obj);

            for (var i = 1; i <= obj.length; i++) {
                if (i % 3 === 1) {
                    var col = document.getElementById("c1");

                }
                else if (i % 3 === 2) {
                    var col = document.getElementById("c2");
                }
                else {
                    var col = document.getElementById("c3");
                }
                var project = document.createElement("div");
                project.classList.add("project");

                var f = obj[i-1].fields.add_date.split("-");
                var date = new Date(f[0], f[1] - 1, f[2]).getTime();

                if (((today / 1000) - (date / 1000)) < 2629743) {
                    var n = document.createElement("p");
                    n.classList.add("project-new")
                    n.innerHTML = "new";
                    project.appendChild(n);
                }

                var img = document.createElement("img");
                img.classList.add("project-image");
                img.setAttribute("src", "/static/" + obj[i-1].fields.image);
                img.setAttribute("alt", "Project image");
                project.appendChild(img);
                var title = document.createElement("p");
                title.classList.add("project-project-title");
                title.innerHTML = obj[i-1].fields.title;
                project.appendChild(title);
                var desc = document.createElement("p");
                desc.classList.add("project-project-desc");
                desc.innerHTML = obj[i-1].fields.description;
                project.appendChild(desc);
                var plus = document.createElement("img");
                plus.classList.add("project-plus");
                plus.setAttribute("src", "/static/plus.png");
                plus.setAttribute("alt", "Plus");
                project.appendChild(plus);
                col.appendChild(project);
            }
        }

        initProjects();
    </script>
</body>
</html>
