<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Dana Maczyńska</title>
    <!-- <link rel="stylesheet" type="text/css" href="/css/style.css"> -->
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins|Comfortaa|Open+Sans" rel="stylesheet">
</head>
<body>
  <!-- header with logo, name and navbar -->
    <div class="main-header">
      <div class="header-logo">
        <a href="{% url 'main' %}"><img class="logo" src="{% static '/Dana logo.png' %}" alt="Dana Maczyńska Logo"/></a>
        <p class="logo-name">dana maczyńska</p>
        <p class="logo-name-title">illustrator & graphic designer</p>
      </div>
      <div class="nav-menu">
        <ul>
          <li><a href="#">graphic design</a></li>
          <li><a href="#">illustrations</a></li>
          <li><a href="#">about</a></li>
          <li><a href="#">contact</a></li>
        </ul>
      </div>
    </div>

    <div class="slide-container">
      <div class="next-prev">
        <a class="prev" href="#"><img src="{% static '/prev.png' %}" alt="Previouse slide"></a>
        <a class="next" href="#"><img src="{% static '/next.png' %}" alt="Next slide"></a>
      </div>
    </div>

    <div class="projects-container">
      <div class="projects-container-header">
        <p>Projects</p>
      </div>
      <div class="projects-container-projects">
        <div id="c1">
          <div class="project">
            <img class="project-image" src="{% static '/project.jpg' %}" alt="Project image"/>
            <p class="project-project-title">Project title</p>
            <p class="project-project-desc">
               Lorem ipsum dolor sit amet, consectetuer
               adipiscing elit, sed diam nonummy nibh
               euismod tincidunt ut laoreet dolore
               magna aliquam erat volut
            </p>
            <img class="project-plus" src="{% static '/plus.png' %}" alt="Plus">
          </div>
        </div>
        <div id="c2">
          <div class="project">
            <img class="project-image" src="{% static '/project.jpg' %}" alt="Project image"/>
            <p class="project-project-title">Project title</p>
            <p class="project-project-desc">
               Lorem ipsum dolor sit amet, consectetuer
               adipiscing elit, sed diam nonummy nibh
               euismod tincidunt ut laoreet dolore
               magna aliquam erat volut
            </p>
            <img class="project-plus" src="{% static '/plus.png' %}" alt="Plus">
          </div>
        </div>
        <div id="c3">
          <div class="project">
            <img class="project-image" src="{% static '/project.jpg' %}" alt="Project image"/>
            <p class="project-project-title">Project title</p>
            <p class="project-project-desc">
               Lorem ipsum dolor sit amet, consectetuer
               adipiscing elit, sed diam nonummy nibh
               euismod tincidunt ut laoreet dolore
               magna aliquam erat volut
            </p>
            <img class="project-plus" src="{% static '/plus.png' %}" alt="Plus">
          </div>
        </div>
      </div>
    </div>


    <div class="main-footer">
      <div class="footer-menu">
        <ul>
          <li class="footer-policy"><a href="#">Privacy policy</a></li>
          <li class="footer-credits">credits: <a href="#">bulikkk</a></li>
        </ul>
      </div>
    </div>
</body>
</html>
